
.topnav {
  background-color: #008080;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
 
img {
    display: block;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
      
}


h1 {
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /*margin-bottom: 50px;
    margin-top: 50px;*/
    padding: 70px 0;
}

/*t changes the background-image
 body {
    background-image: url("images./muano.JPG");
    background-repeat: repeat-x;
    background-position: left;  
  }*/



