 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
.wrapper {
  margin-top: 10%;
}
.wrapper h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  text-align-last: center;
}
.about {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  
}
.about .about_me {
  box-shadow: 0 0 4px;
  text-align: center;
}

 h1 {
  text-align: center;
  font-family: monospace;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2 {

  text-align: center;
  font-family:monospace;
}
.nav {
  margin: 20px;
}





